body {
    background-color:rgb(201, 230, 255) !important
}

.top_header {
    display:grid;
    width:1010px;
    height:90px;
    padding: 20px;
    margin: 10px 10px 10px 40px;
    font-family: "Grandiflora One", cursive;
    font-weight: 400;
    font-style: normal;
}

.menu{
    position: absolute;
    top:110px;
    left: 0px;
    width: 400px;
    list-style-type: none;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px 10px 10px 500px;
    text-align:center;
}

.nav{
    display:grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 10px);
}

.menu a{
    text-decoration:none;
    display:block;
    width:400px;
}

.nav a:hover{
    background-color: white;
    color:rgb(6, 6, 87);
    text-decoration: underline;
}

#menu1:hover .sub1{
    visibility:visible;
}

#menu2:hover .sub2{
    visibility:visible;
}

.sub1 {

    width: 150px;
    color: white;
    display: grid;
    grid-area: sub1;
    font-size: 13px;
    text-align:left;
    visibility:hidden;
    
}

.sub1 li{
    list-style-type: none;
    height:20px;
}

.sub2 {

    width: 150px;
    color: white;
    display: grid;
    grid-area: sub2;
    font-size: 13px;
    text-align:left;
    visibility:hidden;
}

.sub2 li{
    list-style-type: none;
    height:20px;
}

.login {
    display:grid;
    grid-template-rows: 830px;
    width: 150px;
    margin: 10px 10px 0px 40px;
    float: left;
    font-family: "Grandiflora One", cursive;
    font-weight: 400;
    font-style: normal;
}

.login form{
    margin: 5px 5px 5px 5px;
    color: black;
}

.click {
    margin: 4px 0px 0px 4px;
}

.foot{
    position: absolute;
    left:250px;
    top:1200px;
    display: grid;
    width: 1050px;
    margin: 10px 10px 10px 40px;
    font-family: "Grandiflora One", cursive;
    font-weight: 400;
    font-style: normal;
}

.foot ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
}

.box-container a{
    text-decoration:none;
    color:black;
}