.box-container {
    display: inline;
    grid-gap: 20px;
    position: relative;
    justify-content: center;
    top: 100px;
    left: 250px;
    font-family: "Grandiflora One", cursive;
    font-weight: 1000;
    font-style: normal;

  }

  .box {
    width: 600px;
    height: 150px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom:20px;
    background-color:rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }